/* Navbar */
.navbar {
    padding: 1rem;
}

header h1 {
    color: #01284e;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 0.5rem;

}

header p {
    color: #01284e;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

header .lead {
    color: #01284e;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

main {
    padding: 2rem;
    max-height: 100vh;
}


/* Hero Section */
.hero {
    background-image: url('./assets/images/image-Hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.hero p {
    font-size: 1.25rem;
}

/* Boutons de Test des Routes */
#routes button {
    padding: 1rem;
    font-size: 1.1rem;
}

/* Footer */
footer {
    background-color: #343a40;
    color: #fff;
}
